<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="lib/stylesheets/styles.css" charset="utf-8">
    <!-- Angular must be included in the head so that the templates work properly -->
    <script src="lib/scripts/angular.min.js"></script>
    <script src="lib/scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
	  <script src="lib/scripts/app.js"></script>
	  <script src="lib/scripts/controllers.js"></script>
  </head>
  <body ng-app="myAngularApp" ng-controller="appController">
    <!-- Navigation -->
    <header class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#">Network A</a>
    </header>
    <!-- Video + Details -->
    <section class="container">
      <!-- Video player -->
      <div class="video-player" ng-mouseover="showReactions = true" ng-mouseout="showReactions = false">
        <ul class="sharing-options fade list-unstyled" ng-class="{in: showReactions}">
          <li>
            <h3>Share this</h3>
          </li>
          <li>
            <button class="btn btn-primary" ng-class="{selected: reaction.selected}">
              Facebook
            </button>
          </li>
          <li>
            <button class="btn btn-primary" ng-class="{selected: reaction.selected}">
              Twitter
            </button>
          </li>
          <li>
            <button class="btn btn-inverse" ng-class="{selected: reaction.selected}">
              Share
            </button>
          </li>
        </ul>
        <ul class="reactions-options fade list-unstyled" ng-class="{in: showReactions}">
          <li>
           <h3>React</h3>
          </li>
          <li ng-repeat="reaction in reactions">
            <button class="btn btn-inverse" ng-class="{selected: reaction.selected}" ng-click="toggleReaction(reaction)">
              {{reaction.name}}
            </button>
          </li>
        </ul>
        <img src="lib/images/video.png">
      </div>
      
      <!-- Title + facepile -->
      <div class="video-header clearfix">
        <h1 class="col-md-8">{{video.title}}</h1>
        <aside class="facepile col-md-4 text-right" ng-if="video.actions">
          <ul class="list-inline">
            <li ng-repeat="user in video.actions"><img ng-src="lib/images/user-{{user.id}}.jpg"></li>
          </ul>
          <p>{{video.actions.1.name}} and 3 others are into this</p>
        </aside>
      </div>
      
      <!-- Source + social -->
      <div class="video-source-social clearfix">
        <h2 class="video-source col-md-4">
          {{video.source.name}}
          <em>{{video.source.videos_count}} videos</em>
        </h2>
        <ul class="social-media-widgets col-md-8 list-inline text-right">
          <li>
            <button type="button" class="btn btn-inverse">Facebook</button>
          </li>
          <li>
            <button type="button" class="btn btn-inverse">Twitter</button>
          </li>
          <li>
            <button type="button" class="btn btn-inverse">Share</button>
          </li>
          <li>
            <button type="button" class="btn btn-inverse">Comments</button>
          </li>
          <li>
            <strong>{{video.views_count}}</strong>
            Views
          </li>
          <li>
            <button type="button" class="btn btn-primary">Like</button>
          </li>
        </ul>
      </div>
      
      <!-- Description -->
      <div class="video-description">
        <p>{{video.description}}</p>
      </div>
    </section>
    
    <!-- Related -->
    <section class="related-content" ng-controller="relatedContentController" ng-class="{'show-all-streams' : showAllStreams}">
      <div class="container related-content-container" ng-repeat="related in relatedContent">
        <h3>
          {{related.name}}
          <strong>({{related.videos_count}})</strong>
        </h3>
        <carousel>
          <slide ng-repeat="slide in related.slides" active="slide.active">
            <ul class="list-inline">
              <li ng-repeat="video in slide.videos">
                <img ng-src="lib/images/video-{{video.id}}.jpg">
                <div class="carousel-caption">
                  <h4>{{video.title}}</h4>
                </div>
              </li>
            </ul>
          </slide>
        </carousel>
      </div>
      <button class="btn btn-inverse" ng-click="toggleStreamVisibility();">
        <span ng-if="!showAllStreams">More</span>
        <span ng-if="showAllStreams">Less</span>
        Related Streams
      </button>
    </section>
    
    <!-- Community -->
    <section class="comments-reactions">
      <div class="container">
        <!-- Comments -->
        <div class="comments col-md-8">
          <h3>Facebook Responses</h3>
          <form class="well clearfix">
            <img class="col-md-2" src="lib/images/user-4.jpg">
            <div class="col-md-10">
              <textarea></textarea>
              <div class="checkbox col-md-5">
                <label>
                  <input type="checkbox"> Also post on Facebook
                </label>
              </div>
              <div class="col-md-7 text-right">
                <span>
                  Posting as Catt Small
                  <a href="#">(Change)</a>
                </span>
                <button class="btn btn-primary btn-xs">Comment</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Reactions -->
        <aside class="rection-graph col-md-4">
          <h3>What Are People Saying?</h3>
          <ul class="reactions-list list-inline">
            <li ng-repeat="reaction in reactions">
              <button class="btn btn-inverse" ng-class="{selected: reaction.selected}" ng-click="toggleReaction(reaction)">
                {{reaction.name}}
              </button>
            </li>
          </ul>
        </aside>
      </div>
    </section>
    
    <footer class="footer text-center">
      Footer
    </footer>
  </body>
</html>